.user-initials{
    text-align: center;
    padding: 40px 0px;
    border-bottom: 1px solid #f3f3f3;
}

#initials {
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 10%;
    display: inline-block;
    background: #FBC012;
    /*background: #FBCE04;*/
    /*background: #f6aa35;*/
    font-weight: bold;
    font-size: 250%;
    color: #fff;
    text-align: center;
}

#initials-small {
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 5%;
    display: inline-block;
    /*background: #6610f2;*/
    background: #FBC012;
    font-weight: bold;
    font-size: 100%;
    color: #fff;
    text-align: center;
}


.settings-form{
    margin-top: 30px;
}

.profile-panel{
    border: thin solid #dddddd;
    height: 200px;
    margin-bottom: 30px;
}

.profile-panel-heading{
    border-bottom: thin solid #dddddd;
    padding: 12px 12px 12px 12px;
    margin: 0px;
    color: white;
    background: #FBC012;
}

.profile-panel-body{
    padding-top: 0px;
    padding-left: 12px;
    margin: 0px;
}

.profile-panel-body a {
   font-size: small;
}

.user-account .account{
    padding: 5px;
}

.user-account .account .mdi {
    padding-right: 7px;
}

.help-form-div, .report-form-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.help-form-group, .report-form-group{
    display: flex;
    justify-content: space-evenly;
}

.help-form-group input, .help-form-group textarea, .help-form-group select, .report-form-group input, .report-form-group textarea, .report-form-group select{
    margin: 0px 5px 10px 0px;
}

.report-form-bottom{
    display: flex;
}

.spacer{
    flex-grow: 1;
}

.investment-history button, .investment-history a{
    padding: 10px !important;
}

#confirm-deposit-form span, #referrer-form span, p.warning {
    color: #888888;
    font-size: small;
}


.crumbs a{
    color: grey;
    text-decoration: none;
}

.error{
    color: red !important;
}

.nav-item a:hover, .nav-item .nav-link a:visited{
    color:#FBC012 !important;
}

.nav-tabs .nav-item .nav-link.active{
    color:#FBC012 !important;
}


.sidebar .nav .nav-item.active > .nav-link i,
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link .menu-arrow {
    color: #FBC012;
}

.footer a{
    color: #FBC012;
}


/*PACKAGE  */

.sale-box-inner {
    border: 3px solid #fbbd18;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    cursor:pointer;
    margin-bottom: 30px;
}
.sale-box-head {
    background: #fbbd18;
    padding: 15px 5px;
}
.sale-box-head h4 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 28px;
    font-weight: 700;
}
.sale-box-desc {
    margin: 0;
    padding: 20px 10px;
    list-style: none;
    color: #808080;
}
.sale-box-desc strong {
    display: block;
    color: #1d1d1d;
    font-size: 18px;
}
.sale-box-desc li {
    margin-top: 15px;
}

.invest_btn button{
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    background-color: #FBC012;
    border:none;
    margin: 20px 10px;
    color: white;
}

.invest_btn button:hover{
    color: black;
}

.inject-investment{
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.deny-access {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid #fbbd18;
    text-align: center;
    color: black;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    cursor:pointer;
    min-height: 400px;
}

.deny-access div span{
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
    color: red;
}
.deny-access h3{
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
}



/*Media Query*/

@media screen and (max-width: 480px) {
    .big-screen {
         display : none;
     }
}


@media screen and (min-width: 480px){
    .small-screen {
        display : none;
    }
}
