@font-face {
    font-family: "Circular Std Book Italic";
    src: url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.eot");
    src: url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.svg#Circular Std Book Italic")
            format("svg");
}
@font-face {
    font-family: "Circular Std Medium";
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot");
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium")
            format("svg");
}
p,
input,
td {
    font-weight: 300 !important;
    font-family: "Rubik", sans-serif;
    vertical-align: baseline;
    line-height: 1.7em;
    font-weight: 300;
    /* letter-spacing: .5px; */
    /* font-family: 'Oswald', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #3f8a03;
    padding: 1.5rem;
    padding-top: 0;
}
.sidebar-fixed .list-group .active {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ceff00;
    background-color: #3f8a03;
    border-color: #3f8a03;
}
/* //mobile */
.navbar-nav .list-group .active {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #3f8a03 !important;
    background-color: white;
    border-color: #3f8a03;
}

.navbar-nav .list-group a:hover {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #3f8a03 !important;
    background-color: white;
    border-color: #3f8a03;
}
.sidebar-fixed .logo-wrapper {
    padding: 2.5rem;
}
.sidebar-fixed .logo-wrapper img {
    max-height: 50px;
}

.sidebar-fixed a {
    background-color: #3f8a03;
    color: white;
    font-weight: 500;
}

.sidebar-fixed .list-group-item-action:hover {
    color: #ceff00 !important;
    background-color: green;
}

.sidebar-fixed .list-group-item {
    border: none;
}

.dashboard-tabs h5 {
    font-size: 35px;
}
main {
    background-color: white;
}

main > div {
    margin-top: 5rem;
}
/* main{
        padding-top: 10em !important;
      } */

main button {
    background-color: green;
    border-radius: 0px;
    color: white;
    font-weight: 400;
    padding: 0.3em 0.4em;
    height: 55px;
    border: none;
}

main input[type="text"],
main input[type="password"],
main input[type="email"],
main input[type="number"] .main textarea {
    border-radius: 0px !important;
    height: 45px;
    border: 0px;
    background-color: #eeeeee;
}

main input::placeholder {
    color: rgb(122, 31, 31);
}

main .form {
    /* background-color: #EEEEEE; */
    padding: 1.5em;
}

main .form-group {
    padding: 1em 1em;
}

main .card-green {
    color: #fff;
    background-color: green;
    padding: 1.5em;
}

main .card-light {
    background-color: #eeeeee;
    padding: 1.5em;
}

main .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: green;
    background-color: green;
}

main .file-field.medium .file-path-wrapper {
    height: 3rem;
}
main .file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem;
}

main .file-field.big-2 .file-path-wrapper {
    height: 3.7rem;
}
main .file-field.big-2 .file-path-wrapper .file-path {
    height: 3.5rem;
}

main .progress-bar {
    background-color: #dddddd;
}

main .progress {
    height: 30px;
    border-radius: 0px;
    background-color: green;
}

/* DashBoard */

main#dashboard .dashboard-flash-card {
    margin-top: 3em;

    box-shadow: 3px 1px 5px 1px #ccc; /* Opera 10.5, IE 9, Firefo*/
}

main#dashboard .dashboard-flash-card {
    border-radius: 6px;
    color: #fff;
    padding: 1em;
}

main#dashboard .dashboard-flash-card table tr {
    margin-bottom: 2em;
}

main#dashboard .dashboard-flash-card table td {
    width: 10em;
    text-align: center;
}

main#dashboard .section-table table td {
    font-weight: 500;
    color: #636363;
}

main#dashboard .section-table table tr:hover {
    border: 2px solid red;
}

main#dashboard .section-table table td .badge {
    min-width: 90px;
}

/* DashBoard Invest */

main#invest input[type="text"],
main input[type="password"],
main input[type="email"],
main input[type="number"] .main textarea {
    border-radius: 0px !important;
    height: 45px;
}

/* Dashboard-Settings */
main#settings form button {
    border-radius: 10px;
}

/* Dashboard-Withdraw */

main#withdraw {
    /* margin-top: 3em; */
}
main#withdraw form button {
    border-radius: 10px;
}

main#withdraw .form-group-wrapper {
    position: relative;
}

main#withdraw .form-group-wrapper i.fa-eye {
    position: absolute;
    color: green;
    font-size: 24px;
    top: 0.5em;
    right: 4%;
}

#search-button {
    height: 45px;
    border-radius: 10px;
    margin-top: 13px;
    background-color: grey;
    width: 100px !important;
}

.panel-heading a:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* main#withdraw .card-green{
color: white;
background-color: green;
padding: 1.5em;
} */

footer {
    padding-top: 3em;

    background-color: #408a03c5;
}

footer input[type="email"] {
    text-align: center;
    border-radius: 0px;
    height: 40px;
    border: 1px solid rgba(156, 156, 68, 0.555);
    background-color: #408a03c5;
    color: white;
}

footer button {
    border-radius: 0px;
    border: 1px solid #408a03c5;
    border: none;
    height: 40px;
}

footer p,
footer small,
footer span,
footer i {
    color: white;
}

@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
        padding-left: 270px;
    }
}

@media (max-width: 990px) {
    form button {
        width: 100%;
    }
    .sidebar-fixed {
        display: none;
    }

    button.rounded {
        display: block;
        margin: auto;
    }
    .list-group {
        width: 200px;
    }
    .list-group-item {
        border: 0px;
    }

    .user-icon {
        display: none;
    }
    .hide-on-mobile {
        display: none !important;
    }

    .mobile-menu a {
        width: 100% !important;
    }

    footer input[type="email"] {
        width: 100%;
    }
}

@media (min-width: 990px) {
    .mobile-menu {
        display: none;
        color: black;
    }
}
