:root {
    --main-color: #3f8a03;
    --inverse-color: #ffa304;
}

@font-face {
    font-family: "Circular Std Book Italic";
    src: url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.eot");
    src: url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9aecd41d350ef7dc4ccb27f4fff749db.svg#Circular Std Book Italic") format("svg");
}

@font-face {
    font-family: "Circular Std Medium";
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot");
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg");
}

.reap-bg-color {
    background-color: var(--main-color);
}

.reap-color {
    color: var(--main-color);
}

.reap-orange-color {
    color: var(--inverse-color);
}

.reap-bg-orange-color {
    background-color: var(--inverse-color);
}

p {
    font-weight: 300 !important;
    font-family: "Rubik", sans-serif;
    vertical-align: baseline;
    line-height: 1.7em;
    color: #545454b0;
    /* letter-spacing: .5px; */
    /* font-family: 'Oswald', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

h1 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -1px;
    font-weight: bold;
}

.home-header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, #141613b4 0%, #0e0c0e 100%),
    url("../img/Image 1.png");
    background-blend-mode: multiply;
}


@media (min-width: 1920px) {
    .home-header {
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, #141613b4 0%, #0e0c0e 100%), url("../img/Image 2.png");
        background-blend-mode: multiply;
    }

}

.home-header h1 {
    margin-top: 4em;
}

.home-header p {
    color: #ededed;
    font-weight: bold !important;
    font-family: 'Epilogue', sans-serif;
}

.home-header a:hover button {
    background-color: #ff8f00;
}

.home-header .desktop-img {
    margin-left: 10%;
}

/* Set the border color */

.home-header .custom-toggler.navbar-toggler {
    border-color: lightgreen;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* MAIN SECTION BEGIN */

/* How It Works */

#how-it-works {
    padding-top: 2em;
    position: relative;
    background-color: #408a0336;
    padding-bottom: 5em;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

@media (max-width: 425px) {
    #how-it-works {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}


#how-it-works .col-md-3 > div {
    margin: auto;
    padding-top: 30px;
    background-color: green;
    border-radius: 100px;
    height: 130px;
    width: 130px;
}

#how-it-works p {
    color: #0e0c0ee0;
}

#how-it-works .col-md-3 > div > img {
    margin: auto;
    display: block;
    height: 70px;
    width: 70px;
}

p {
    /* color: #fff; */
}

#best-investment-plan .card {
    display: block;
    margin: auto;
    border-radius: 12px;
}

#best-investment-plan .card-body > p.stroke {
    display: block;
    height: 2px;
    width: 50px;
    background-color: rgb(144, 144, 165);
    margin: auto;
}

#best-investment-plan .card-body > h1 {
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-weight: bold;
}

#best-investment-plan .card-text {
    font-size: 1.5em;
}

#best-investment-plan .card-body a {
    border-radius: 5px;
}

#best-investment-plan .card-title {
    padding-bottom: 10px;
}

/* Investment */
#investment {
    background-color: wheat;
    margin-top: 8em;
    margin-bottom: 8em;
    padding: 4em 0em;
}

#investment h5{
    padding-top: 20px;
}
#investment p {
    color: #0e0c0ebe;
}

#investment img {
    width: 250px;
}

main #investor .title {
    width: 30%;
    padding: 0.3em;
    background-color: #408a0336;
    text-align: center;
    margin: 2em auto 1em;
    font-weight: 900;
}

main #investor img {
    display: block;
    height: 300px;
    margin: auto;
}

#customers {
    margin-top: 3em;
    padding-bottom: 3em;
    background-color: #408a0336;
}

#customers button {
    width: 150px;
    height: 40px;
    border: none;
}

#customers .customer-card {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    border-radius: 1em;
    padding: 1em;
    margin: 1em auto 2em;
    box-shadow: 2px 2px 20px #babcc25b, -2px -2px 20px #babcc25b;
}

#customers .customer-card-content {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em;
}

#customers .customer-card img {
    position: absolute;
    right: 2em;
    bottom: 25px;
    height: 80px;
}

@media (min-width: 426px) {
    #customers .customer-card img {
        bottom: 10px;
    }
}

#faq {
    margin-top: 2em;
    margin-bottom: 4em;
}

main #faq .card .card-header span {
    font-size: 20px;
}

main #faq .card .card-header .btn:hover {
    text-decoration: unset;
}

main #faq .card .card-header span:first-child {
    color: rgba(0, 128, 43, 0.63);
}

/* MAIN SECTIONS END */

nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

nav .nav-link:hover {
    text-decoration: none;
    color: white;
    font-weight: 800;
    border-bottom: 4px solid #1a2c0a5b;
    border-radius: 0px;
    /* border-bottom-width: 30px; */
}

.navbar {
    box-shadow: none;
}

/* .navbar-collapse.collapse.show  a{
    color: green;
} */

/* About */

.about-header img.img-top {
    height: 300px;
    margin-top: 10em;
}

footer {
    padding-top: 1em;
    background-color: green;
}

footer hr{
    margin-top: 0;
    margin-bottom: 10px;
    background-color: white;
}

footer p, footer small, footer span, footer i {
    color: white;
}

footer input[type="email"] {
    text-align: center;
    border-radius: 0px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 60%;
}

footer button {
    border-radius: 0px;
    border: none;
    height: 40px;
    color: green;
    padding: 0 10px;
    width: 40%;
}

footer .social-link-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

footer .social-link-div span{
    padding-right: 10px;
}

footer .social-link-div .fab{
    font-size: 24px;
}

@media (max-width: 990px) {
    p {
        font-size: 12px;
    }

    .home-header {
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, #141613b4 0%, #0e0c0e 100%),
        url("../img/Image 1.png");
        background-blend-mode: multiply;
    }

    .navbar-nav {
        display: inline;
    }

    .navbar .nav-item .nav-link {
        display: inline;
    }

    .hide-on-mobile {
        display: none !important;
    }


    .fixed-top {
        background: white !important;
    }

    .fixed-top .nav-link {
        color: green !important;
    }

    /* .mobile-nav{
            background-color: white;
        } */
    h3 {
        padding: 0px 1em;
        font-size: 25px;
    }

    .home-header h1 {
        margin-top: 3.5em;
        text-align: center;
        font-size: 30px;
    }

    #investment {
        margin-top: 1em;
    }

    .home-header p {
        text-align: center;
    }

    .about-header img.img-top {
        height: 200px;
    }


    main #investor .title {
        width: 60%;
        padding: 0.3em;
        background-color: #408a0336;
        text-align: center;
        margin: 2em auto 1em;
        font-weight: 900;
    }

    #investor img {
        width: 200px;
    }

    #customers .customer-card img {
        height: 50px;
    }
}


@media (min-width: 990px) and (max-device-width: 1024px) {
    .home-header .desktop-img {
        margin-left: 1em;
    }
}

.social-link {
    padding: 7px;
}


.social-link img {
    height: 32px;
    width: 32px;
}
